<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StSt - Login</title>
    <link rel="stylesheet" type="text/css" href="../css/style2.css">
    <link rel="stylesheet" type="text/css" href="../css/mobile.css" media="screen and (max-width : 568px)">
    <link rel="stylesheet" href="../bootstrap-3.3.6-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="../js/mobile.js"></script>
</head>

<body>
<div id="header" style="padding-bottom: 0">
		<a href="../index.html" class="logo">
			<img src="../images/Study-Station-logo-versione-finale.jpg" alt="StudyStation">
		</a>
</div>
<div class="container" style="width:600px">
    <div class="jumbotron">
        <h2>No user present with such name</h2>

    <a href="login.html"><button class="btn btn-lg btn-primary btn-block"> Back to Login</button></a>
    </div>
</div> <!-- /container -->

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>